<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{fragments/layout}">

<head>
<meta charset="UTF-8">
</head>

<body>

	<div layout:fragment="content">
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-info">

						<div class="box-header with-border">
							<div class="row">
								<div class="col-md-6">
									<h3 class="box-title">Consulta de Cliente(s)</h3>
								</div>
								<div class="col-md-6">
									<a class="btn btn-primary btn-sm" style="float: right;" 
									   th:href="@{/cliente/cadastro}">
										<i class="fa fa-plus-square"></i> Novo cliente
									</a>
								</div>
							</div>
						</div>

						<div class="box-body">

							<table id="grid-clientes"
								class="table table-bordered table-hover">

								<thead>
									<tr>
										<th>Código</th>
										<th>Nome</th>
										<th>Email</th>
										<th>Cpf</th>
										<th>Celular</th>
										<th>Ações</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="cliente : ${clientes}">
										<td><span th:text="${cliente.id}"></span></td>
										<td><span th:text="${cliente.nome}"></span></td>
										<td><span th:text="${cliente.email}"></span></td>
										<td><span th:text="${cliente.cpf}"></span></td>
										<td><span th:text="${cliente.celular}"></span></td>
										<td><a th:href="@{'/cliente/cadastro/'}+${cliente.id}"
											style="margin-right: 10px;" title="Editar"> <i
												class="fa fa-edit"></i>
										</a> <a th:href="@{'/cliente/cadastro/excluir/'}+${cliente.id}"
											style="margin-left: 10px;" title="Excluir"> <i
												class="fa fa-remove"></i>
										</a></td>
									</tr>
								</tbody>
							</table>

						</div>
						<!-- ./box-body -->

					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- / .content -->

	<th:block layout:fragment="script">
		<script>
			$(function() {
				$('#grid-clientes').DataTable({
					'paging' : true,
					'lengthChange' : true,
					'searching' : true,
					'ordering' : true,
					'info' : true,
					'autoWidth' : false
				})
			})
		</script>
	</th:block>



</body>

</html>